.sidebar {
  width: 20%;
  padding: 15px;
  background-color: #343a40;
  .sidebar-heading > div,
  .sidebar-heading > a {
    font-size: 1.4rem;
    padding-bottom: 5px;
    cursor: pointer;
  }
  .divider {
    border-top: 1px solid #575656;
    width: 100%;
  }
  .list {
    display: flex;
    align-items: center;
    svg {
      padding: 0;
      margin: 0;
      font-size: 20px;
    }
    p {
      cursor: pointer;
      text-align: center;
      margin-left: 10px;
      & > label {
        cursor: pointer;
      }
    }
  }

  .menu-list a:hover {
    color: white;
    background-color: transparent;
  }
  /* .active,
  .nuxt-link-active {
    background-color: transparent;
    color: white;
  } */
  ul li {
    padding-bottom: 0.4rem;
    & > a {
      color: #a6a2a2;
    }
  }
  ul input[type="checkbox"] {
    display: none;
  }
  .hide {
    display: none;
    transition: display 2s;
  }
  ul input[type="checkbox"]:checked ~ .hide {
    display: block;
  }
  .menu-label {
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: hsl(0, 0%, 71%);
  }
}
