@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
$input-placeholder-color: rgb(110, 110, 110);
@import "../../node_modules/bulma/bulma.sass";

/* header style */
@import "./header";
@import "./sidebar";
.container {
  max-width: 95%;
  margin: auto;
}
.main-body {
  display: flex;
  & > input {
    display: none;
  }
  input[type="checkbox"]:checked ~ .sidebar {
    display: none;
  }
}

.main {
  width: 100%;
}

/* Media Query */

@media only screen and (max-width: 480px) {
  .sidebar {
    display: none;
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    .sidebar-heading > a {
      font-size: 1.2rem;
      padding-bottom: 5px;
    }
    .list {
      display: block;
    }
    .list span {
      width: 100%;
      font-size: 0.95rem;
      margin-left: 10px;
    }
    .list svg {
      width: 100%;
    }
  }
  input[type="checkbox"]:checked ~ .sidebar {
    display: block !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .sidebar {
    display: none;
    width: 60%;
    padding-left: 10px;
    padding-right: 20px;
  }
  input[type="checkbox"]:checked ~ .sidebar {
    display: block !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    display: none;
    width: 30%;
  }
  input[type="checkbox"]:checked ~ .sidebar {
    display: block !important;
  }
}
